.formItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

input {
    border-bottom: 2px solid #E4E4E4;
}

.input {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #828282;
}

.submit {
    margin: 46px 0 33px;
}

.submit button {
    padding: 16px 0;
    background: #FDBF5A;
    color: #000000;
    border-radius: 70px;
    text-transform: none;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    padding: 13px 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #828282;
    cursor: pointer;
}