.profile {
    background: url(./img/map.png) center center no-repeat;
    background-size: cover;
    flex-grow: 7;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    padding: 18px 90px;
    background: #FDBF5A;
    border-color: #FDBF5A;
    color: #000000;
    border-radius: 70px;
    text-transform: none;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.header {
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    color: #000000;
}

.card {
    display: flex;
    align-items: center;
}