.header {
    position: relative;
    display: flex;
    padding: 25px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: #1C1A19;
    z-index: 3;
    height: 102px;
    overflow: hidden;
}

.logo {
    width: 269px;
    height: 61px;
}

.Nav {
    display: flex;
}

.link {
    color: aliceblue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0;
    text-align: left;
    list-style-type: none;
    margin-right: 30px;
    cursor: pointer;
}

.isActive {
    color: #FDBF5A;
}

.link a {
    text-decoration: none;
}

.link:last-child {
    margin-right: unset;
}

.link:hover {
    color: #FDBF5A;
}

.link:active {
    color: #FDBF5A;
}