.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: grab;
}

.card {
    display: flex;
    align-items: center;
    position: absolute;
    padding: 30px 46px;
    top: 2%;
    left: 2%;
}